*,*:after,*:before{
    box-sizing: border-box;
}
body{
    margin: 0 auto;
}
.development > article{
    max-width:960px;
    margin: 0 auto;
    text-align:center;
    height:100%;
}
.development > article > div{
    width:50%;
    float:left;
    top:50%;
    transform:translateY(-50%);
    position:relative;
}
.development > article > div:nth-child(1){
    text-align: right;
    line-height:34px;
    padding-right:10px;
}
.development > article > div:nth-child(2){
    text-align: left;
}
.development{
    font-family: arial;
    background: #fff;
    height: 100px;
    color: #a2a4a7;
}
.development .fa-heart{
    color: #ff0084;
}
@keyframes pulse-animation {
    0% { transform: scale(1); }
    30% { transform: scale(1); }
    40% { transform: scale(1.15); }
    50% { transform: scale(1); }
    60% { transform: scale(1); }
    70% { transform: scale(1.08); }
    80% { transform: scale(1); }
    100% { transform: scale(1); }
}
.pulse {
    animation-name: pulse-animation;
    animation-duration: 3000ms;
    transform-origin:70% 70%;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
*{
  -webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);

-webkit-animation: androidBugfix infinite 1s;
}
#link{
  margin-left: 5px;
}
#link img{
  vertical-align:middle;
}
#coracao{
  font-size:18px !important;
  margin: 0 auto !important;
  width: 21px;
  height: 18px;
  background:url(../images/heart.png);
  display: inline-block;
}
